header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}


header p{
  color: MediumAquamarine;
  border: 1px solid black;
  display: inline-block;
  }
header nav {
  border: 1px solid black;
  display: inline-block;
}

nav span{
  text-align: right;
}
.maincontainer {
  display: flex;
}
  .column.large {
  width: 630px;
  display: flex;
  border: 1px solid black;
}

.buys {
  border: 1px solid black;

}

.az {
  border: 1px solid black;
}

.orca {
  border: 1px solid black;
}

.puget {
  border: 1px solid black;
}

.burger {
  border: 1px solid black;
}

.mew {
  border: 1px solid black;
}

.research {
  border: 1px solid black;
}
.column.medium {
  width: 300px;
  display: flex;
  border: 1px solid black;
}

.column.small {
  width: 240px;
  display: flex;
  border: 1px solid black;
}
