header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;


}

nav {
  text-align: right;
  display: inline-block;
  }

.logo {
  color: MediumAquamarine;
  text-align: left;
  border: 1px solid black;

}

span {

  }

  .column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
