body {

}

/*header*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: white;
  align-items: center;
  z-index: 20;
  top: 0;
}

.logo  {
  color: MediumAquamarine;
  text-align: left;
  width: 75%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  }

  .mytimes {
    padding-left: 15px;
  }

.navmenu {
  width: 25%;
  text-align: right;
  padding-right: 30px;

  }

header span a {
  color: black;
  padding: 0px 15px;

  }

  /*main context*/

.maincontainer {
  display: flex;
  border: 1px solid black;
  z-index: 5;
  width: 100%;
  position: relative;
  top: 80px;

}

.column {
  margin-right: 32px;

  }

.column.large {
  width: 630px;
  border: 1px solid black;


}

p {
  border-bottom: 1px solid black;}

h1 {
  border-top: 2px solid black;}


.column.medium {

  width: 300px;
  border: 1px solid black;

}

.column.small {
  width: 240px;
  border: 1px solid black;

}
